@charset "UTF-8";

:root{

--cor1--:#F2F2F2;
--cor2--:#BDBEBF;
--cor3--:#474F59;
--cor4--:#030BA6;
--cor5--:#020873;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;

}

body{
  

}

header{
    background-color: var(--cor4--);
    padding: 20px;
}


    h1,p#header{
    padding: 15px;
    line-height: 1.4em;
    color: var(--cor1--);
    text-align: center;
}

    

main{
margin: 20px;

}


main > section.flex-content {
    display: flex;
    flex-flow: column wrap;
 
}
 
main > section.flex-content> article{

    
} 

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    
}


main > section > article > div > img{
    padding-bottom: 50px;
    display: block;
    margin: auto;
    width: 80%;
    
}

main > section.flex-content > article > div.media{
    flex: 1 1 300px;
    
}


main > section.flex-content > article  > div.text{
    flex: 1 1 300px ;
  
    
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
}



main > section > article > div > iframe{
    padding: 5px;
    display: block;
    margin: auto;

    width: 90%;
}








h2,p{
    padding: 15px;
    line-height: 1.4em;
    
}



footer{
    background-color: var(--cor3--);
    color: var(--cor1--);

}

h5{
    padding: 10px;
    line-height: 1.4em;
    text-align: right;
}

h5#texto{
    padding: 10px;
    line-height: 1.4em;
    text-align: left;
}