@charset "UTF-8";

:root{

    --cor1--: ;
    --cor1--: ;
    --cor1--: ;
    --cor1--: ;
    --cor1--: ;

}

main.conteiner{
    border: 3px dashed red;
    
    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns:auto auto auto;
    gap: 10px;
    place-items: normal normal;
    place-content: normal normal ;
    grid-auto-rows: 80px;
       

}

section.item{
    border:3px dashed rgb(57, 138, 231);
    padding: 10px;
    
}