@charset "UTF-8";



table{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 30px;
}
caption{
    font-size: 1.5em;
    padding: px;
}
th,td{
    text-align: center;
    padding: 5px;
    padding-left: 8px;
    border: 2px solid black;
    font-size: 1.2em;
}
.cNome{
    background-color: bisque;
}