@charset "UTF-8";

body{
    

}



table{
    border: 1px solid black;
    width: 300px;
    height: 100px;
    border-collapse: collapse;
}
td{
    border: 1px solid #000000;
    padding: 2px;
    padding-left: 20px;
    vertical-align: top ;
}

.a{
    background-color: red;
}