@charset "UTF-8";

body{
    background-color: bisque;
    
}
p{
    line-height: 1.5em;
}
p#mc{
    width: 500px;
    
}

#ex{
    border: 1px solid black ;
    border-collapse: collapse;
}

.extd{
    border: 1px solid black ;
}


