@charset "UTF-8";


*{
margin: 0px;
padding-left: 0px;

}

body{
      background-color:  rgb(255, 255, 255); ;

}

h1#Am{
    color:rgb(226, 186, 90);
    font-family: 'Times New Roman', Times, serif;
}

html{
    font-family: sans-serif;

}

header{
    background-color:  rgba(165, 149, 130, 0.33) ;
    text-align: center;

}

menu ul{
 background-color:rgba(165, 149, 130, 0.556)  ;

}
menu li{
    display: inline-block;
    padding: 10px;
    background-color:rgba(165, 149, 130, 0.556)  ;

}

article{
text-align: center;
 padding: 10px;
 line-height: 1.5em;

}


