@charset "UTF-8";


@media screen and (min-width:768px ) {
    span#burguer{
        display: none;

    }
    menu{
        display: block;
    }
     menu>ul>li{
        display: inline-block;
        padding: 3px;
    }
}

@media screen and (min-width: 1024px){
        span#burguer{
            display:none
        }

    menu{
        display: block;
    }

    menu>ul>li{
        display: inline-block;
        padding: 3px;
    }

    main{
    
        margin: auto;
    border-radius: 10px;
margin-top: 10px;}
    
    
}