@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 62, 255);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (orientation: portrait) {
    body{
    background-image: url(imagens/cev-portrait.jpg);
    background-position:  center bottom;

}
}

@media screen and (orientation: landscape) {
    html,body{
    background-image: url(imagens/cev-landscape.jpg) ;
    background-position: left bottom ;
    
}
}