@charset "UTF-8";

:root{

    --cor1--: ;
    --cor1--: ;
    --cor1--: ;
    --cor1--: ;
    --cor1--: ;

}

main.conteiner{
    border: 3px dashed red;
    height: 300px;
    display: grid;
    grid-template: repeat(3, auto) /repeat(3, auto); 
    gap: 10px;
    place-items: start center;
    place-content: space-between end ;
       

}

section.item{
    border:3px dashed rgb(57, 138, 231);
    padding: 10px;
    
}