@charset "UTF-8";



:root{

--cor1--:#B3DAF2 ;
--cor2--:#8BB4D9 ;
--cor3--:#386273 ;
--cor4--:#365B73 ;
--cor5--:#D9C196 ;






}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:var(--cor2--);
    width: 99vw;
    height: 99vh;
}

header{
background-color:var(--cor3--) ; 
padding: 20px;

display: flex;
flex-flow: column wrap;
justify-content: space-between;
align-items: start
}

header>h1{
    color:var(--cor5--);
    border: 1px dotted black;
     font-family: 'Times New Roman', Times, serif;

     flex: 0 1 30px;
     
}

header>p{
    color: var(--cor5--);
    font-family: 'Times New Roman', Times, serif;
   flex: 0 1 35px;
}

nav{
    
  border: 1px dotted black; 
   flex: 0 1 10px;
}
header>nav>a{ 
    background-color: var(--cor4--);
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    

}

main{
    background-color: white;
    padding: 20px;
    margin: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
 }   

 main>p{
    line-height: 1.5em;
    margin-bottom: 10px;

 }

nav>a:hover{
    background-color: var(--cor5--);
    color: white;


}



footer{
background-color: var(--cor1--);
color: black ;
margin: 20px;


display: flex ;
flex-flow: column wrap

}

h5#sonho{
    margin-bottom: 20px;
    padding: 10px;
    
}

h5#copy{
    text-align: right;
    padding-right: 30px;
   
}

p#dev{
    text-align: right;
   
    padding-right: 0px 30px 15px 0px;
}